@page "/Account/Login"
@using System.ComponentModel.DataAnnotations
@using MyCheeseShop.Components.Account.Shared
@using MyCheeseShop.Model
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStore
@inject SignInManager<User> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>
<StatusMessage Message="@statusMessage" IsError="@isError" />

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card mt-5">
        <div class="card-body bg-light d-flex flex-column justify-content-center align-items-center">
            <h4 class="card-title text-center mb-4">Login</h4>
            <EditForm OnValidSubmit="LoginUser" Model="Model" FormName="loginForm">
                <div class="mb-3 text-center">
                    <label for="email" class="form-label w-100 text-center">Email</label>
                    <InputText id="email" @bind-Value="Model.Email" class="form-control text-center" placeholder="name@example.com" style="width: 200px;" />
                </div>
                <div class="mb-3 text-center">
                    <label for="password" class="form-label w-100 text-center">Password</label>
                    <InputText id="password" type="password" @bind-Value="Model.Password" class="form-control text-center" placeholder="Password" style="width: 200px;" />
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary" style="width: 200px;">Login</button>
                </div>
            </EditForm>
            <div class="text-center mt-3">
                <a href="@(NavigationManager.ToAbsoluteUri("Account/Register"))" class="btn btn-success" style="width: 200px;">Register</a>
            </div>
        </div>
    </div>
</div>

@code {
    private string? statusMessage;
    private bool isError;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private LoginModel Model { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ApplicationScheme);
        }
    }

    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Model.Email, Model.Password, false, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else
        {
            statusMessage = "Invalid login attempt.";
            isError = true;
        }
    }

    private sealed class LoginModel
    {
        public string Email { get; set; } = "";

        public string Password { get; set; } = "";
    }
}
