@page "/cart"
@using MyCheeseShop.Model
@inject ShoppingCart ShoppingCart
@inject NavigationManager NavigationManager

<h3>Cart</h3>

@code {
    protected override void OnInitialized()
    {
        ShoppingCart.OnCartUpdated += SateHasChanged;
    }

    private void GoToStore()
    {
        NavigationManager.NavigateTo("/")
    }
}
