@page "/Checkout"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.Components.Authorization
@using MyCheeseShop.Model
@using MyCheeseShop.Context
@using System.ComponentModel.DataAnnotations
@inject UserProvider UserProvider
@inject OrderProvider OrderProvider
@inject ShoppingCart ShoppingCart
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStore

<PageTitle>Checkout</PageTitle>

<h3 class="text-center">Checkout</h3>
<div class="card mb-3 shadow-sm">
    <div class="card-body">
        <h4 class="card-title">Order Summary</h4>
        <CartSummary />
    </div>
</div>

<EditForm EditContext="editContext" OnValidSubmit="MakePayment">
    <DataAnnotationsValidator />
    <div class="row mb-3">
        <div class="col-lg-6 col-12 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Customer Information</h4>
                    <div class="form-group mb-3">
                        <label class="form-label">Name</label>
                        <input class="form-control" value="@GetFormattedName(user)" disabled />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Address</label>
                        <textarea class="form-control" rows="3" style="resize: none" value="@GetFormattedAddress(user)" disabled />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" value="@user.Email" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Payment Details</h4>
                    <div class="form-group mb-3">
                        <label class="form-label">Name on card</label>
                        <InputText class="form-control" placeholder="Name on card" @bind-Value="paymentDetails.NameOnCard" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Card number</label>
                        <InputText class="form-control" placeholder="0000-0000-0000-0000" @bind-Value="paymentDetails.CardNumber" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Expiry Date</label>
                        <InputText class="form-control" placeholder="MM/YY" @bind-Value="paymentDetails.ExpiryDate" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Security Code</label>
                        <InputText class="form-control" placeholder="CVC" @bind-Value="paymentDetails.SecurityCode" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <button @onclick="GoToCart" class="btn btn-secondary">🛒 Back to Cart</button>
        <button type="submit" class="btn btn-primary">
            @if (isPaying)
            {
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            }
            else
            {
                <span>💳</span>
            }
            <span> Pay Now</span>
        </button>
    </div>
</EditForm>




@code {
    private User user;
    private PaymentDetails paymentDetails;
    private EditContext editContext;
    private bool isPaying;

    protected override async Task OnInitializedAsync()
    {
        paymentDetails = new PaymentDetails();
        editContext = new EditContext(paymentDetails);

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var username = authState!.User!.Identity!.Name!;
        user = UserProvider.GetUserByUsername(username)!;
    }

    private async Task MakePayment()
    {
        await SimulatePayment();

        await OrderProvider.CreateOrder(user, ShoppingCart.GetItems());
        ShoppingCart.Clear();
        NavigationManager.NavigateTo("/thank-you");
    }

    private async Task SimulatePayment()
    {
        isPaying = true;
        StateHasChanged();

        await Task.Delay(2000);

        isPaying = false;
        StateHasChanged();
    }

    private void GoToCart()
    {
        NavigationManager.NavigateTo("/cart");
    }

    private string GetFormattedName(User user)
    {
        return $"{user.FirstName} {user.LastName}";
    }

    private string GetFormattedAddress(User user)
    {
        return $"{user.Address}{Environment.NewLine}{user.City}{Environment.NewLine}{user.PostCode}";
    }

    private sealed class PaymentDetails
    {
        [Required]
        public string NameOnCard { get; set; }

        [Required]
        public string CardNumber { get; set; }

        [Required]
        public string ExpiryDate { get; set; }

        [Required]
        public string SecurityCode { get; set; }
    }
}