@page "/"
@inject Context.CheeseProvider CheeseProvider

<PageTitle>Cheeses</PageTitle>

@if (cheeses is null)
{
    <p>Loading...</p>
}
else if (!cheeses.Any())
{
    <p>:( No cheese found :(</p>
}


<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4">
        @foreach (var cheese in cheeses)
        {
           <div class="col">
               <StoreItem Cheese="cheese"/>
           </div>
        }
        @if (!cheeses.Any())
        {
            <p>:( No cheese found :(</p>
        }
    </div>
</div>


@code {
    private IEnumerable<Model.Cheese> cheeses;

    protected override async Task OnInitializedAsync()
    {
        cheeses = await CheeseProvider.GetAllCheesesAsync();
    }
}